/* Robbie added these styles for bootstrapify */
.big-icon {
    font-size: 200px;
    color: #333;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .big-icon {
    font-size: 100px;
  }
}

@media screen and (max-width: 767px) {
  .big-icon {
    font-size: 50px;
    text-align: right;
  }
}


.home-icon {
    font-size: 140px;
   line-height: 140px;
   text-align: center;
}

.waitTableIssue {
    width: 50%;
}

.chathistory {
  height: 500px;
  overflow: auto;
}

.chat-markdown p {
  margin-bottom: 1px;
}
