/* Robbie added these styles for bootstrapify */
.big-icon {
    font-size: 200px;
    color: #333;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .big-icon {
    font-size: 100px;
  }
}

@media screen and (max-width: 767px) {
  .big-icon {
    font-size: 50px;
    text-align: right;
  }
}


.home-icon {
    font-size: 140px;
   line-height: 140px;
   text-align: center;
}

.waitTableIssue {
    width: 50%;
}

.chathistory {
  height: 500px;
  overflow: auto;
}

.chat-markdown p {
  margin-bottom: 1px;
}


[data-bs-theme=dark] .c3 path,
[data-bs-theme=dark] .c3 line
{
  stroke: white;
}

[data-bs-theme=dark] .tick text,
[data-bs-theme=dark] .c3 text
{
  fill: white;
}

[data-bs-theme=dark] .c3-tooltip-container 
{
  color: black;
}

.typing-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30px;
}

.dot {
  width: 10px;
  height: 8px;
  margin: 0 1px;
  background-color: #ffff;
  border-radius: 50%;
  opacity: 0;
  animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 80%, 100% {
      opacity: 0;
      transform: translateY(0);
  }
  40% {
      opacity: 1;
      transform: translateY(-4px);
  }
}
