body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

.error label{
  text-align: center;
  display: block;
  background-color: #C06572;
}


/*Question form*/
.question {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.question label {
  text-align: left;
  display: block;
}
.question h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}
.question input, .question textarea, .question select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.question button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 200px;
  margin: auto;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}